* {
    font-size: 10px;
    margin: 0;
	padding: 0;
	border: 0;
}

header {
    background-image: url(Images/okara.co.za-1704825349411/OKARA-renewable-energy-and-construction-1-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    max-width: 100vw;
    filter: contrast(90%);
}

@media screen and (max-width: 780px) {
    header {
        background-image: url(Images/okara.co.za-1704825349411/LeftCenter.png);
        background-position: center;
    }

}

/* Nav bar Toggle */

.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 0.1rem; 
    width: 0.1rem; 
    margin: -0.1rem; 
    padding: 0; 
    border: 0;
}

.hamburger {
    margin: 0 auto;
    margin-top: 2rem;
    width: 3rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
}

.hamburger .bar {
    padding: 0;
    width: 2rem;
    height: 0.2rem;
    background-color: rgb(105, 105, 105);
    display: block;
    border-radius: 0.4rem;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 0.7rem;
}

.bar3 {
    right: 1;
}

.bar4 {
    bottom: 1.4rem;
}

.nav-menu-toggle:checked + label > .hamburger1 > .bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 2.2rem;
    box-shadow: 0px 0px 1px rgba(0,255,0,1);
}

.nav-menu-toggle:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-4rem);
    background-color: transparent;
}

.nav-menu-toggle:checked + label > .hamburger1 > .bar3 {
    transform: translateX(4rem);
    background-color: transparent;
}

.nav-menu-toggle:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 2.2rem;
    box-shadow: 0px 0px 1px rgba(0,255,0,1);
}

#lolw {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    background-color: rgba(167, 167, 167, 0.7);
    z-index: 1000;
}

#lolw.scrolled {
    top: 0;
    position: sticky;
    width: 100%;
    height: 4rem;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    will-change: transform;
}

#logoimg {
    width: 20rem;
    height: auto;
    margin: 1rem;
}

#logoimg.scrolled {
    width: 13rem;
    margin: 1rem;
}

@media screen and (max-width: 780px) {
    header {
        background-image: url(Images/okara.co.za-1704825349411/LeftCenter.png);
        background-position: center;
    }

}

.nav-links {
    display: flex;
    justify-content: space-around;
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 1s ease, transform 1s ease;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links ul li {
    margin-right: 2rem;
    width: 85%;
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    border-bottom: solid 1px rgb(128, 128, 128, 25%);
    margin: 1rem;
}

.nav-links ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

.xd {
    display: block;
    width: 95%;
    margin: 0 auto; 
    text-align: center; 
    background-color: rgba(167, 167, 167, 0.7);
    border-top: solid 5px rgba(69,182,83,100%);
}

@media screen and (max-width: 768px) {
    #nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 7.3rem;
        left: 0;
        width: 100%;
        justify-content: center;
    }

    #nav-links.scrolled {
        top: 4rem;
    }

    .nav-links.show {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-links.show ul li {
        opacity: 1;
        transform: translateY(0);
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links ul li {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .menu-toggle {
        display: block;
    }
}

#rotateToggle {
    display: none;
}

#Nav-Menu-Toggle {
    width: 3rem;
    transition: transform 0.3s ease;
}

@media screen and (min-width: 769px) {
    .rotatetogglediv {
        display: none;
    }

    .lolw {
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        background-color: transparent;
        backdrop-filter: blur(10px);
    }

    .ul-div {
        max-width: 100vw;
        width: 50rem;
        background-color: transparent;
    }
    
    .nav-links {
        display: flex;
        opacity: 1;
    }

    .xd {
    display: flex;
    border-top: 0;
    }

    .nav-links ul li {
        opacity: 1;
        font-size: 1rem;
        border-bottom: 0;
    }

    .nav-links ul li a {
        text-decoration: none;
        color: #000000;
        font-size: 1.6rem;
    }

    .linkhome {
        position: relative;
        padding-bottom: 0.5rem;
    }

    .linkhome::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        border-bottom: solid rgb(69,182,83);
        bottom: 0;
        left: 0;
        transition: width 0.5s ease;
    }

    .linkhome:hover:before {
        width: 100%;
    }

    .linkexpertise {
        position: relative;
        padding-bottom: 0.5rem;
    }

    .linkexpertise::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        border-bottom: solid rgb(69,182,83);
        bottom: 0;
        left: 0;
        transition: width 0.5s ease;
    }

    .linkexpertise:hover:before {
        width: 100%;
    }

    .linkaboutus {
        position: relative;
        padding-bottom: 0.5rem;
    }

    .linkaboutus::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        border-bottom: solid rgb(69,182,83);
        bottom: 0;
        left: 0;
        transition: width 0.5s ease;
    }

    .linkaboutus:hover:before {
        width: 100%;
    }

    .linkcontactus {
        position: relative;
        padding-bottom: 0.5rem;
    }

    .linkcontactus::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        border-bottom: solid rgb(69,182,83);
        bottom: 0;
        left: 0;
        transition: width 0.5s ease;
    }

    .linkcontactus:hover:before {
        width: 100%;
    }

    .nav-links ul li a p {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5rem;

    }

    .menu-toggle {
        
    }

    .nav-links ul  {
        display: flex;
        flex-direction: row;
    }

    .xd {
        background-color: transparent;
    }
}